name: wisatabandung
description: A new Flutter application.

version: 1.0.0+1

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true

  assets:
    - images/

  fonts:
    - family: Oswald
      fonts:
        - asset: fonts/Oswald-Regular.ttf
